[Unit]
Description=Waybar
After=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar
Restart=on-failure
Environment=XDG_CURRENT_DESKTOP=Hyprland
Environment=XDG_SESSION_TYPE=wayland
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=%t
Environment=PULSE_SERVER=unix:%t/pulse/native

[Install]
WantedBy=default.target




